* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main_input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.input_sett {
  display: flex;
  align-items: center;
  padding: 10px;
}

.addBtn {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.wrapp {
  padding: 10px;
}

.head {
  display: flex;
  justify-content: start;
  align-items: center;
}

.todoList {
  list-style: none;
  font-style: italic;
  font-size: 20px;
}